<p>Angular Seed is a starter project that implements best practices in coding, building and testing Angular apps.</p>

<h2>Features</h2>
<ul>
    <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
    <li>Production and development builds.</li>
    <li>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
    <li>End-to-end tests with Protractor.</li>
    <li>Development server with live reload.</li>
    <li>TypeScript definition management using Types.</li>
    <li>Basic Service Worker, which implements "Cache then network strategy".</li>
</ul>
<md-card>
    <md-card-title-group>
        <md-card-title>Card with title</md-card-title>
        <md-card-subtitle>Subtitle</md-card-subtitle>
        <img md-card-md-image>
    </md-card-title-group>
</md-card>

<div class="home_margin" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="start">
    <md-card>

    </md-card>
    <md-card>
        <img src="">
        <p>Tableau View 2</p>
    </md-card>
    <md-card>
        <img src="">
        <p>Dashboard 3</p>
    </md-card>
    <md-card>
        <img src="">
        <p>Dashboard 4</p>
    </md-card>
    <!--<md-card fxLayout="row">
        <data-comp></data-comp>
    </md-card>-->
</div>